# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Node.js related (for Server directory)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# Storybook build outputs
.out
.storybook-out

# Temporary folders
tmp/
temp/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
*.log
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Electron Framework
Server/dist-electron/builder-debug.yml
Server/dist-electron/builder-effective-config.yaml
Server/dist-electron/mac-arm64/MCP Server.app/Contents/_CodeSignature/CodeResources
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Electron Framework
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Helpers
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Libraries
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Resources
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/_CodeSignature/CodeResources
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Helpers/chrome_crashpad_handler
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Libraries/libEGL.dylib
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Libraries/libffmpeg.dylib
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Libraries/libGLESv2.dylib
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Libraries/libvk_swiftshader.dylib
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Libraries/vk_swiftshader_icd.json
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/af.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/am.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ar.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/bg.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/bn.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ca.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/chrome_100_percent.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/chrome_200_percent.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/cs.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/da.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/de.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/el.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/en.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/en_GB.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/es.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/es_419.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/et.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/fa.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/fi.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/fil.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/fr.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/gu.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/he.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/hi.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/hr.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/hu.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/icudtl.dat
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/id.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/Info.plist
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/it.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ja.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/kn.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ko.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/lt.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/lv.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/MainMenu.nib
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ml.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/mr.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ms.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/nb.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/nl.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/pl.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/pt_BR.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/pt_PT.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/resources.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ro.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ru.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/sk.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/sl.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/sr.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/sv.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/sw.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ta.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/te.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/th.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/tr.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/uk.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ur.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/v8_context_snapshot.arm64.bin
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/vi.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/zh_CN.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/zh_TW.lproj/locale.pak
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Electron Framework.framework/Versions/Current
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Mantle.framework/Mantle
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Mantle.framework/Resources
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Mantle.framework/Versions/A/_CodeSignature/CodeResources
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Mantle.framework/Versions/A/Mantle
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Mantle.framework/Versions/A/Resources/Info.plist
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Mantle.framework/Versions/Current
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper (GPU).app/Contents/_CodeSignature/CodeResources
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper (GPU).app/Contents/Info.plist
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper (GPU).app/Contents/MacOS/MCP Server Helper (GPU)
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper (GPU).app/Contents/PkgInfo
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper (Plugin).app/Contents/_CodeSignature/CodeResources
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper (Plugin).app/Contents/Info.plist
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper (Plugin).app/Contents/MacOS/MCP Server Helper (Plugin)
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper (Plugin).app/Contents/PkgInfo
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper (Renderer).app/Contents/_CodeSignature/CodeResources
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper (Renderer).app/Contents/Info.plist
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper (Renderer).app/Contents/MacOS/MCP Server Helper (Renderer)
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper (Renderer).app/Contents/PkgInfo
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper.app/Contents/_CodeSignature/CodeResources
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper.app/Contents/Info.plist
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper.app/Contents/MacOS/MCP Server Helper
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/MCP Server Helper.app/Contents/PkgInfo
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/ReactiveObjC.framework/ReactiveObjC
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/ReactiveObjC.framework/Resources
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/ReactiveObjC.framework/Versions/A/_CodeSignature/CodeResources
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/ReactiveObjC.framework/Versions/A/ReactiveObjC
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/ReactiveObjC.framework/Versions/A/Resources/Info.plist
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/ReactiveObjC.framework/Versions/Current
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Squirrel.framework/Resources
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Squirrel.framework/Squirrel
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Squirrel.framework/Versions/A/_CodeSignature/CodeResources
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Squirrel.framework/Versions/A/Resources/Info.plist
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Squirrel.framework/Versions/A/Resources/ShipIt
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Squirrel.framework/Versions/A/Squirrel
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Frameworks/Squirrel.framework/Versions/Current
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Info.plist
Server/dist-electron/mac-arm64/MCP Server.app/Contents/MacOS/MCP Server
Server/dist-electron/mac-arm64/MCP Server.app/Contents/PkgInfo
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Resources/app.asar
Server/dist-electron/mac-arm64/MCP Server.app/Contents/Resources/electron.icns
Server/dist-electron/MCP Server-1.0.0-arm64.dmg
Server/dist-electron/MCP Server-1.0.0-arm64.dmg.blockmap
